.gd-title {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;
}

.gd-subtitle {
  font-size: 1rem;
  margin-top: 1rem;
}

.gd-header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.gd-description {
  display: flex;
  max-width: 40rem;
  margin-top: 1rem;
}

.row-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.loss-card-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.loss-chart {
  display: flex;
  place-self: flex-end;
}

.linear-reg-chart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gd-params-slider {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 250px;
}

.generate-dataset-options {
  display: flex;
  gap: 1rem;
}

.training-options {
  display: flex;
  justify-content: center;
}

.center {
  display: flex;
  justify-content: center;
}
